.main {
    position: relative;
    left: 112px;
    top: 10px;
    width: 980px;
    height: 454px;
}

.focus {
    float: left;
    width: 722px;
    height: 454px;
}

.newsflash {
    float: right;
    width: 250px;
    height: 100%;
}

.newsflash .news {
    height: 165px;
    border: 2px solid #f6f6f6;
    border-bottom: 0;
}

.newsflash .lifeservice {
    height: 209px;
    overflow: hidden;
    border-left: 2px solid #f6f6f6;
    border-right: 2px solid #f6f6f6;
}

.news-hd {
    height: 34px;
    line-height: 34px;
    width: 100%;
    border-bottom: 1px dotted #f6f6f6;
}

.news-hd h4 {
    float: left;
    font-weight: normal;
    font-size: 14px;
    padding-left: 15px;
}

.news-hd .more {
    float: right;
    padding-right: 17px;
}

.news-hd .more::after {
    font-family: "iconfont";
    content: "\eb03";
}

.news-bd ul {
    padding: 5px 0 0 17px;
}

.news-bd ul li {
    height: 24px;
    line-height: 24px;
}

/* 子盒子4个合起来的高度超过了父盒子 这时候单独给父盒子专门设置一个更宽的宽度 */
.lifeservice ul {
    width: 252px;
}

.lifeservice ul li {
    float: left;
    width: 63px;
    height: 69px;
    border: 1px solid #f6f6f6;
    border-left: 0;
    text-align: center;
}

.lifeservice ul li a {
    display: inline-block;
    margin-top: 15px;
}

/* 不能直接指定到第几个a 只能指定到li */
.lifeservice ul li:nth-of-type(1) a {
    width: 21px;
    height: 25px;
    background: url(../images/icons.png) no-repeat -19px -15px;
}

.lifeservice ul li:nth-of-type(2) a {
    width: 25px;
    height: 26px;
    background: url(../images/icons.png) no-repeat -80px -18px;
}

.lifeservice ul li:nth-of-type(2) {
    position: relative;
}

.lifeservice ul li:nth-of-type(2)::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 13px;
    height: 16px;
    background: url(../images/图层178.png) no-repeat center;
}

.lifeservice ul li:nth-of-type(3) a {
    width: 27px;
    height: 25px;
    background: url(../images/icons.png) no-repeat -142px -17px;
}

.lifeservice ul li:nth-of-type(4) a {
    width: 27px;
    height: 22px;
    background: url(../images/icons.png) no-repeat -206px -17px;
}

.lifeservice ul li:nth-of-type(5) a {
    width: 26px;
    height: 25px;
    background: url(../images/icons.png) no-repeat -17px -88px;
}

.lifeservice ul li:nth-of-type(6) a {
    width: 26px;
    height: 27px;
    background: url(../images/icons.png) no-repeat -78px -84px;
}

.lifeservice ul li:nth-of-type(7) a {
    width: 22px;
    height: 27px;
    background: url(../images/icons.png) no-repeat -144px -86px;
}

.lifeservice ul li:nth-of-type(8) a {
    width: 23px;
    height: 26px;
    background: url(../images/icons.png) no-repeat -206px -86px;
}

.lifeservice ul li:nth-of-type(9) a {
    width: 26px;
    height: 28px;
    background: url(../images/icons.png) no-repeat -16px -158px;
}

.lifeservice ul li:nth-of-type(10) a {
    width: 26px;
    height: 28px;
    background: url(../images/icons.png) no-repeat -79px -159px;
}

.lifeservice ul li:nth-of-type(11) a {
    width: 26px;
    height: 26px;
    background: url(../images/icons.png) no-repeat -141px -156px;
}

.lifeservice ul li:nth-of-type(12) a {
    width: 25px;
    height: 26px;
    background: url(../images/icons.png) no-repeat -207px -159px;
}

.bargain {
    margin-top: 5px;
}

.bargain img {
    width: 100%;
}

/* main部分结束了 */
/* recom区域开始了 */
.recom {
    height: 163px;
    margin-top: 22px;
}

.recom-hd {
    float: left;
    width: 207px;
    height: 100%;
    background-color: #5c5251;
}

.recom-hd h3 {
    font-size: 18px;
    color: #fff;
    font-weight: normal;
    text-align: center;
}

.recom-hd h3::before {
    display: block;
    margin-top: 30px;
    font-family: "iconfont";
    content: "\e652";
    font-size: 55px;
}

.recom-bd {
    float: left;
    height: 163px;
    background-color: #ebebeb;
}

.recom-bd ul li {
    float: left;
    position: relative;
    width: 248px;
    height: 163px;
}


.recom-bd a {
    display: inline-block;
}

.recom-bd ul li:nth-of-type(-n+3)::after {
    content: "";
    position: absolute;
    top: 10px;
    width: 2px;
    height: 143px;
    background-color: #e6e6e6;
}

/* recom区域结束了 */
/* like区域开始了 */
.like {
    margin-top: 30px;
    height: 263px;
}

.like_hd {
    height: 30px;
    width: 100%;
}

.like .fl {
    font-size: 18px;
    color: #333;
}

.like .fr {
    margin-right: 22px;
    font-size: 12px;
}

.like_bd ul {
    width: 1200px;
    height: 233px;
    border: 2px solid #f9f9f9;
}

.like_bd ul li {
    float: left;
    margin: 24px 0px 0px 36px;
}

.like_bd ul li p {
    margin-top: 15px;
    font-size: 12px;
    color: #666;
}

.like_bd ul li .money {
    font-size: 18px;
    color: #df3033;
}

.like_bd ul .fenge {
    margin: 160px 0px 9px 36px;
    width: 2px;
    height: 64px;
    background-color: #f9f9f9;
}

/* boke区域开始了 */
.boke {
    height: 432px;
}

.boke_hd {
    margin: 30px 0 10px 0;
    font-size: 18px;
}

.boke_bd .box1 {
    position: relative;
    float: left;
    width: 405px;
    height: 405px;
    background-color: #b8bddd;
}

.boke_bd .box1 h2 {
    position: absolute;
    top: 22px;
    left: 26px;
    font-size: 18px;
    color: #6a73a9;
    font-weight: normal;
}

.boke_bd .box1 p {
    position: absolute;
    top: 50px;
    left: 26px;
    font-size: 16px;
    color: #6a73a9;
}

.boke_bd .box1 img {
    position: absolute;
    top: 117px;
    left: 126px;
}

.box2 {
    float: left;
    width: 227px;
}

.box2_hd {
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 2px solid #f9f9f9;
    border-bottom: 0px;
    border-left: 0px;
}

.box2_hd h3 {
    width: 185px;
    border-bottom: 2px dashed #f9f9f9;
    margin-left: 15px;
    font-size: 14px;
    color: #333;
}

.box2_bd {
    position: relative;
    padding-left: 8px;
    height: 207px;
    border-right: 2px solid #f9f9f9;
}

.box2_bd h3 {
    padding-top: 69px;
    font-size: 16px;
}

.box2_bd p {
    padding-top: 16px;
    font-size: 12px;
}

.box2_bd img {
    position: absolute;
    top: 29px;
    right: 0;
}

.box2_ft {
    position: relative;
    padding-left: 8px;
    height: 158px;
    border: 2px solid #f9f9f9;
    border-left: 0px;
}

.box2_ft h3 {
    padding-top: 50px;
    font-size: 16px;
}

.box2_ft p {
    padding-top: 15px;
    font-size: 12px;
}

.box2_ft img {
    position: absolute;
    top: 4px;
    right: -5px;
}

.box3 {
    float: left;
    width: 408px;
    height: 406px;
    border: 2px solid #f3f3f3;
    border-left: 0px;
    background-color: #f7f7f7;
}

.box3_hd {
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.box3_hd h3 {
    width: 360px;
    border-bottom: 2px dashed #f3f3f3;
    margin-left: 20px;
}

.box3_bd {
    position: relative;
    padding-left: 55px;
    padding-top: 70px;
}

.box3_bd h3 {
    font-size: 16px;
}

.box3_bd p {
    font-size: 12px;
    padding-top: 12px;
    margin-bottom: 63px;
}

.box3_bd img {
    position: absolute;
    right: 0;
    top: 22px;
}

.box3_ft {

    border-top: 2px solid #f3f3f3;
}

.box3_ft .fl {
    position: relative;
    width: 200px;
    padding-left: 12px;
    padding-top: 51px;
    border-right: 2px solid #f3f3f3;
}

.box3_ft .fl h3 {
    font-size: 16px;
    margin-bottom: 12px;
}

.box3_ft .fl img {
    position: absolute;
    right: 0;
    top: 16px;
}

.box3_ft .fr {
    position: relative;
}

.box3_ft .fr h3 {
    margin: 50px 126px 18px 0px;
}

.box3_ft .fr img {
    position: absolute;
    right: 0;
    top: 15px;
}

.box4 {
    padding-top: 10px;
    float: left;
    width: 160px;
    height: 409px;
    text-align: center;
    border: 2px solid #f9f9f9;
    border-left: 0px;
}

.height_48 {
    height: 46px;
}

.height_58 {
    height: 56px;
}

.box4 ul li {
    display: inline-block;
    width: 75px;

}

.box4 ul li:nth-child(odd) {
    border: 1px dashed #f9f9f9;
    border-left: 0px;
    border-top: 0px;
}

.box4 ul li:nth-child(even) {
    border-bottom: 1px dashed #f9f9f9;
}

.box4 ul li:nth-child(n+13) {
    border-bottom: 0px;
}

.box4 ul li:nth-child(1) {
    background: url(../images/品牌集合.png) no-repeat -8px -10px;
}

.box4 ul li:nth-child(2) {
    background: url(../images/品牌集合.png) no-repeat -91px -10px;
}

.box4 ul li:nth-child(3) {
    background: url(../images/品牌集合.png) no-repeat -8px -60px;
}

.box4 ul li:nth-child(4) {
    background: url(../images/品牌集合.png) no-repeat -91px -60px;
}

.box4 ul li:nth-child(5) {
    background: url(../images/品牌集合.png) no-repeat -8px -118px;
}

.box4 ul li:nth-child(6) {
    background: url(../images/品牌集合.png) no-repeat -91px -118px;
}

.box4 ul li:nth-child(7) {
    background: url(../images/品牌集合.png) no-repeat -8px -175px;
}

.box4 ul li:nth-child(8) {
    background: url(../images/品牌集合.png) no-repeat -91px -175px;
}

.box4 ul li:nth-child(9) {
    background: url(../images/品牌集合.png) no-repeat -8px -233px;
}

.box4 ul li:nth-child(10) {
    background: url(../images/品牌集合.png) no-repeat -91px -233px;
}

.box4 ul li:nth-child(11) {
    background: url(../images/品牌集合.png) no-repeat -8px -292px;
}

.box4 ul li:nth-child(12) {
    background: url(../images/品牌集合.png) no-repeat -91px -292px;
}

.box4 ul li:nth-child(13) {
    background: url(../images/品牌集合.png) no-repeat -8px -360px;
}

.box4 ul li:nth-child(14) {
    background: url(../images/品牌集合.png) no-repeat -91px -360px;
}

/* boke区域结束了 */
/* floor区域开始了 */
.floor .box_hd {
    margin-top: 30px;
    height: 29px;
    border-bottom: 2px solid #da646c;
}

.floor .box_hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
    font-weight: normal;
}

.floor .box_hd ul {
    float: right;
}

.floor .box_hd ul li {
    float: left;
    line-height: 29px;
}

.floor .box_hd ul li a {
    margin: 0px 15px;
    font-size: 12px;
}

.tab_list_item {
    height: 360px;
}

.col_210 {
    float: left;
    width: 210px;
    text-align: center;
    background-color: #f9f9f9;
}

.col_210 ul li {
    display: inline-block;
    margin-left: 12px;
    width: 86px;
    height: 33px;
    line-height: 33px;
    border-bottom: 1px solid #f5f5f5;
}

.col_210 .tuwen h3 {
    margin-top: 25px;
    font-size: 18px;
    font-weight: normal;
}

.col_210 .tuwen img {
    margin-top: 10px;
}

.col_329 {
    float: left;
    width: 329px;
    background-color: #aed6d8;
}

.col_221 {
    float: left;
    width: 221px;
}

.col_221 a img {
    width: 219px;
    height: 180px;
    border-right: 2px solid #f9f9f9;
    border-bottom: 2px solid #f9f9f9;
}

.col_221 a .right {
    width: 222px;
    height: 361px;
    border-right: 2px solid #f9f9f9;
    border-bottom: 2px solid #f9f9f9;
}

.col_219 {
    float: left;
    width: 219px;
}

.col_219 a .bottom {
    width: 219px;
    height: 180px;
    border: 2px solid #f9f9f9;
    border-left: 0px;
}

/* floor区域结束了 */
/* 品牌方区域开始了 */
.pp {
    margin-top: 20px;
    height: 67px;

    background-color: #f7f7f7;
}

.pp ul li {
    float: left;
    height: 67px;
}

.pp ul li:nth-child(1) {
    margin-left: 14px;
    width: 118px;
    background: url(../images/logos.png) no-repeat -11px 0px;
}

.pp ul li:nth-child(2) {
    width: 120px;
    background: url(../images/logos.png) no-repeat -131px 0px;
}

.pp ul li:nth-child(3) {
    width: 120px;
    background: url(../images/logos.png) no-repeat -250px 0px;
}

.pp ul li:nth-child(4) {
    width: 120px;
    background: url(../images/logos.png) no-repeat -370px 0px;
}

.pp ul li:nth-child(5) {
    width: 120px;
    background: url(../images/logos.png) no-repeat -500px 0px;
}

.pp ul li:nth-child(6) {
    width: 120px;
    background: url(../images/logos.png) no-repeat -618px 0px;
}

.pp ul li:nth-child(7) {
    width: 120px;
    background: url(../images/logos.png) no-repeat -738px 0px;
}

.pp ul li:nth-child(8) {
    width: 120px;
    background: url(../images/logos.png) no-repeat -857px 0px;
}

.pp ul li:nth-child(9) {
    width: 120px;
    background: url(../images/logos.png) no-repeat -983px 0px;
}

.pp ul li:nth-child(10) {
    width: 100px;
    background: url(../images/logos.png) no-repeat -1109px 0px;
}

/* 品牌方区域结束了 */
/* like区域结束了 */